$white: #fff;
$gray: #333;
$blue: #0424d9;
$black: #000;
$shadow_black: rgba(0, 0, 0, 0.2);

@mixin center_something($position) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
