@import "_variables.scss";

html {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  overflow: hidden;
  // background: linear-gradient(to bottom, #202020, #111119);
  background-color: #111;
  z-index: 0;
}
/////////////////////////////////////////////////rain
.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(60vh);
  }
  100% {
    transform: translateY(70vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, lightblue, blue);
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

//////////////////////////////////////////////////clouds

@keyframes ani {
  0% {
    background-position: 100vw 0;
  }
  100% {
    background-position: 0 0;
  }
}
.clouds {
  z-index: 4;
  transform: rotate(180deg);
  background: url(http://i.stack.imgur.com/iofJk.png) repeat-x 0 / 100% auto;
  height: 5vh; /* this value is not important, just not zero */
  animation: ani 10s linear infinite;
}

/////////////////////////////////////////////////////header
.header_text_container {
  color: #fff;
  font-family: "Merriweather", serif;
  @include center_something(absolute);
  font-style: italic;
  & h1 {
    font-size: 6rem;
    opacity: 1;
  }
  & span {
    font-size: 1rem;
    opacity: 0.3;
  }
}

.content_container {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);

  & button {
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
    color: #fff;
    border: 1px solid red;
    outline: none;
    border-radius: 0.3rem;
    background-color: #333;
    &:hover {
    }
  }
}
